.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
  
  .icono {
    width: 50px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: #ff8c00; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #e07b00; /* Color al pasar el ratón */
  }
  
  .registerLink {
    margin-top: 15px;
  }
  
  .registerLink a {
    color: #ff8c00;
    text-decoration: none;
  }
  
  .registerLink a:hover {
    text-decoration: underline;
  }