
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fdaeae;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .navbar-logo {
    font-weight: bold;
  }
  
  .navbarSearch {
    flex: 1;
    font-size: 17px;
    padding: 11px;
    border: 1px solid #af0909;
    border-radius: 10px;
    margin-right: 20px; 
    margin-left: 20px; 
  }
  
  .navbar-icons {
    display: flex;
    gap: 10px;
  }
  
  
.profileIconContainer {
  position: relative;
}
  .profileMenu {
    position: absolute;
    top: 200%;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .profileMenu a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .profileMenu a:hover {
    color: #af0909;
  }