.sidebar {
    position: relative; /* Asegura que el menú de géneros se posicione de manera relativa */
    top: 40px; /* Desplaza el menú debajo del botón */
  }
  
  .genreButton {
    background: none;
    border: none;
    font-size: 24px; /* Tamaño del icono de tres barras */
    cursor: pointer;
  }
  
  .genreList {
    position: absolute; /* Posiciona el menú de géneros fuera del flujo normal */
    top: 40px; /* Desplaza el menú debajo del botón */
    left: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    list-style: none;
    margin: 0;
    width: 150px; /* Ancho del menú */
  }
  
  .genreList li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .genreList li:last-child {
    margin-bottom: 0;
  }